### Maven ###
target/
.mvn/wrapper/maven-wrapper.jar

!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ ###
.idea/
*.iml
*.ipr
*.iws

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/
/build/
/dist/
/nbdist/
/.nb-gradle/

### Logs ###
*.log

### OS ###
.DS_Store
Thumbs.db

### Local Spring Config ###
src/main/resources/application-local.yml

### Environment Files ###
.env
.env.*

### Docker ###
docker-compose.override.yml

### Misc ###
out/